<div class= "container text-center mb-3">
  <div class="btn-group contact" role="group" aria-label="Basic outlined example">
              <a class="" href="https://linkedin.com/in/satyamvatsal">
                <button type="button" class="btn btn-lg btn-primary m-2">
                    <i class="fa fa-brands fa-linkedin"></i>
                </button>
              </a>
              <a class="" href="https://api.whatsapp.com/send?phone=917061094197" >
                <button type="button"
                        class="btn btn-lg btn-success m-2">
                    <i class="fa fa-brands fa-whatsapp"></i>
                </button>
              </a>
              <a class="" href="https://github.com/satyamvatsal" >
                <button type="button"
                        class="btn btn-lg btn-dark m-2">
                    <i class="fa fa-brands fa-github"></i>
                </button>
              </a>
              <a href="https://codeforces.com/profile/satyamvatsal257">
                <button type="button"
                        class="btn btn-lg btn-warning m-2">
                    <i class="fa fa-code"></i>
                </button>
              </a>
              <a href="https://x.com/satyamvatsal7">
                <button type="button"
                        class="btn btn-lg btn-primary m-2">
                          <i class="fa fa-brands fa-twitter"></i>
                </button>
              </a>

          </div>
</div>
