<div class="nav-parent">
    <div class="" id="page-title">
      <h1 class="m-4 p-3">
          <a class="navbar  nav-link cool-font" aria-current="page" href="/">Satyam Vatsal</a>
      </h1>
    </div>
    <div class="" id="nav-layout">
      <ul class="nav justify-content-center p-3 ">
        <li class="nav-item">
          <button type="button" class="btn btn-danger m-2">
                <a class="nav-link" href="/project">Projects</a>
          </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-danger m-2">
                <a class="nav-link" href="/contact">Contact Me</a>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-danger m-2">
                <a class="nav-link" href="/resume.pdf" target="_blank">Download my resume</a>
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-danger m-2 " id = "dark-mode-button">
                <a class="nav-link" id="theme-text">Dark Mode</a>
            </button>
        </li>
      </ul>
    </div>
</div>
